
{% extends "base.html" %}
{% block content %}
<div class="panel">
  <h2>Signup</h2>
  <form method="post" class="row">
    <div>
      <input class="input" required name="username" placeholder="Username">
      <input class="input" required name="email" type="email" placeholder="Email">
      <input class="input" required name="password" type="password" placeholder="Password">
    </div>
    <div>
      <input class="input" required name="security_question" placeholder="Security question (for password reset)">
      <input class="input" required name="security_answer" placeholder="Your answer">
      <button class="btn" type="submit">Create account</button>
    </div>
  </form>
</div>
{% endblock %}
